<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.Title</title>

    <!-- Bootstrap Core CSS -->
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <!-- MetisMenu CSS -->
    <link href="~/Content/metis-menu/metisMenu.min.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/Content/sb-admin-2.css" rel="stylesheet" />
    <!-- Custom Fonts -->
    <link href="~/Content/font-awesome/font-awesome.css" rel="stylesheet" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    @RenderSection("css", required: false)
</head>
<body id="body" oncontextmenu="return false" onselectstart="return true" ondragstart="return true">
    <div id="wrapper">
        <div class="fixed-top">
            <div class="navbar navbar-default navbar-static-top" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">&nbsp;</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <ul class="nav navbar-top-links navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                                <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li>
                                    <a href="~/Account/MyAccount"><i class="fa fa-user fa-fw"></i> Thông tin cá nhân</a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="~/Login/Logout"><i class="fa fa-sign-out fa-fw"></i> Thoát</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                    <ul class="nav navbar-nav">
                        <li><a href="/ControlPanel">Main</a></li>
                        <li><a href="/Nail">Danh sách Website Nail</a></li>
                        <li><a href="/NailCodeSale">Danh sách Code Sale Off</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="fixed-center">
            <div id="page-wrapper">
                <div class="page-header">
                    @RenderBody()
                </div>
            </div>
        </div>
        <div class="fixed-bottom">
            <div class="navbar navbar-default">
                <h4 class="text-center">
                    <span>Copyright &copy; Phan Thọ (Developer) - @DateTime.Now.Year</span>
                </h4>
            </div>
        </div>
    </div>
    <div class="modal fade" id="myModalMessage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display:none;z-index:9999;">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header modal-primary">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h5 class="modal-title" id="myModalLabel">Thông báo</h5>
                </div>
                <div class="modal-body">
                    <div id="alert-message"></div>
                </div>
            </div>
        </div>
    </div>

    @RenderSection("modalcustom", required: false)
    <!-- Bootstrap Core JavaScript -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- Metis Menu Plugin JavaScript -->
    <script src="~/Scripts/metis-menu/metisMenu.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="~/Scripts/sb-admin-2.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
