@model WebNails.Admin.Models.UserSite

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = $"{(Model.ID == 0 ? "Thêm" : "Sửa")} User";
}

@section css{
    <script src="~/Scripts/common.js"></script>
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>@($"{(Model.ID == 0 ? "Thêm" : "Sửa")} User")</h5>
            </div>
            <div class="panel-body">
                <form id="myForm">
                    @Html.HiddenFor(model => model.ID)
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Username", "Username")
                                @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Password", "Password")
                                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Fullname", "Fullname")
                                @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.Label("Nail_ID", "Domain")
                                @Html.DropDownListFor(model => model.Nail_ID, Model.Nails, "Select Domain", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.Nail_ID, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.Label("Status", "Bật/Tắt trạng thái User")
                                @Html.CheckBoxFor(model => model.Status, new { @class = "checkbox-inline" })
                                @Html.ValidationMessageFor(model => model.Status, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group pull-right">
                                <button type="button" id="btnCancel" class="btn btn-default">Trở về</button>
                                <span>&nbsp;</span>
                                <button type="submit" id="btnSubmit" class="btn btn-danger">Cập nhật</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>

@section scripts{
    <script src="~/Scripts/jquery/jquery.validate.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#myForm").validate({
                rules: {
                    Username: "required",
                    Password: "required",
                    Fullname: "required",
                    Nail_ID: "required"
                },
                messages: {
                    Username: { required: "Nhập Username" },
                    Password: { required: "Nhập Password" },
                    Fullname: { required: "Nhập Fullname" },
                    Nail_ID: { required: "Nhập Domain" }
                }
            });

            $("#myForm").submit(function () {
                if ($(this).valid()) {
                    let overlay = new ItpOverlay();
                    $.ajax({
                        type: "POST",
                        url: "/User/Credit",
                        data: $(this).serialize(),
                        beforeSend: function () {
                            overlay.show("body");
                        },
                        success: function (result) {
                            AlertMessage(result);
                        },
                        complete: function (data) {
                            overlay.hide("body");
                        }
                    });
                }
                return false;
            });

            $("#btnCancel").on("click", function () {
                location.href = '/User/Index';
            });
        });

    </script>
}